<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>

<th:block th:each="msg : ${messages}">
    <h3 th:text="${msg}"></h3>
</th:block>

<br>
<h2>Регистрация нового пользователя</h2>
<body>
    <form th:method="POST" th:action="@{/auth/register_new_user}" th:object="${user}">
        <label for="username">Введите имя пользователя: </label>
        <input type="text" th:field="*{username}" id="username"/>
        <br/>
        <br/>
        <label for="age">Введите ваш возраст: </label>
        <input type="text" th:field="*{age}" id="age"/>
        <br/>
        <br/>
        <label for="password">Введите ваш пароль: </label>
        <input type="text" th:field="*{password}" id="password"/>
        <br/>
        <br/>
        <label>Роль:
            <th:block th:each="role: ${listRoles}">
                <input type="checkbox" th:field="*{roles}"
                       th:text="${role.name}" th:value="${role.id}"/>
            </th:block>
        </label>
        <br/><br/>
        <input type="submit" value="Зарегистрировать нового пользователя"/>
    </form> <br/>
    <input type="button" value="Отмена" onclick="history.go(-1)"/>

</body>
</html>