<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<form th:method="POST" th:action="@{/logout}">
    <input type="submit" value="выход из системы"/>
</form><br/>
<head>
    <meta charset="UTF-8">
    <title>Добавление пользователя</title>
</head>

<body>
<th:block th:each="msg : ${messages}">
    <h3 th:text="${msg}"></h3>
</th:block>
<form th:method="POST" th:action="@{/admin/add}" th:object="${user}">
    <caption><h1>Заполните поля...</h1></caption><br/>

    <label for="username">Логин: </label>
    <input type="text" th:field="*{username}" id="username"/><br/><br/>
    <label for="age">Возраст: </label>
    <input type="text" th:field="*{age}" id="age"/><br/><br/>
    <label for="password">Пароль: </label>
    <input type="text" th:field="*{password}" id="password"/><br/><br/>

    <th:block th:each="role: ${listRoles}">
        <input type="checkbox" th:field="*{roles}"
               th:text="${role.name}" th:value="${role.id}"/>
    </th:block><br/><br/>

    <input type="submit" value="Сохранить"/>
    <input type="button" value="Отмена" onclick="history.go(-1)"/>
</form>
</body>
</html>