<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<button onclick="window.location.href = '/';">Go to start page</button><br/>

<div><br/>
    <button onclick="window.location.href = '/users/new';">Add new user</button>
    <table border="1">
        <caption><h2>List of Users</h2></caption>
        <thead>
        <tr>
            <th> id </th>
            <th> username </th>
            <th> age </th>
            <th> roles </th>
            <th> action </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user, iterStat : ${users}">

            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.age}"></td>
            <td th:text="${user.roles}"></td>
            <td>
                <form th:method="POST" th:action="@{/templates/user/edit?id={id}(id=${user.getId()})}">
                    <input type="submit" value="update"/>
                </form>

                <form th:method="POST" th:action="@{/delete?id={id}(id=${user.getId()})}">
                    <input type="submit" value=" delete"/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>