<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>

<form th:method="POST" th:action="@{/user/addOrUpdate}" th:object="${user}">

    <input type="hidden" th:field="*{id}"/>

    <caption><h1>Fill in the fields</h1></caption><br/>
    <label for="username">Username: </label>
    <input type="text" th:field="*{username}" id="username"/><br/><br/>
    <label for="age">Age: </label>
    <input type="text" th:field="*{age}" id="age"/><br/><br/>
    <label for="password">password: </label>
    <input type="text" th:field="*{password}" id="password"/><br/><br/>

    <th:block th:each="role: ${listRoles}">
        <input type="checkbox" th:field="*{roles}"
               th:text="${role.name}" th:value="${role.id}"/>
    </th:block>
    <br/>
    <br/>
    <input type="submit" value="save"/>
    <input type="button" value="Cancel" onclick="history.go(-1)"/>

</form>
</body>
</html>